.author-list-entry {
	margin: 1rem;
	background-color: #e8e8e8;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

.author-list-entry a {
	display: flex;
}

.author-list-entry .author-list-img-wrap {
	background-image: url(/assets/psychic_eye.svg);
  	background-size: 8%;
	background-repeat: no-repeat;
	background-position: 96% 96%;
}

.author-list-entry img {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	width: 400px;
	opacity: 0.99999;
	transition: all 0.3s;
}

.author-list-entry a:hover img {
	border-bottom-right-radius: 36%;
}

.author-list-text {
	padding: 0 2rem;
	overflow: hidden;
}

.author-list-text a {
	color: #333;
}

/*.author-list-text a:hover {
	color: #bc7865;
}*/

.author-list-date {
	color: #737373;
}

.author-list-abstract {
	line-height: 1.4rem;
    max-height: 7rem;
    overflow: hidden;

}

@media screen and (max-width: 800px) { 
	.author-list-entry a {
		flex-direction: column;
		align-items: center;
		border-radius: 2px;
		padding: 1rem;
	}
	.author-list-entry img { 
		border-radius: 2px;
		width: 100%;
		height: unset;
	}
	.author-list-text { 
		padding: 0rem;
	}
}