.filter {
  display: block;
  width: calc(100% - 16px);
  padding: 16px 0;
  margin: 0 8px;
  text-align: left;
  border: none;
  outline: none;
  border-bottom: 2px solid #e9e9e9;
  font-size: 2em;
}

.filter::placeholder {
  color: lightgrey;
  letter-spacing: 1em;
}

ul.entry-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul.entry-list::after {
  content: "";
  flex: auto;
}

li.entry-card {
  display: flex;
  flex-direction: column;
  width: 33.333%;
}

li.entry-card > div {
  background-color: #e8e8e8;
  margin: 1rem;
  padding: 1rem;
}

li.entry-card .entry-img-container {
  width: 100%;
  object-fit: cover;
  background-image: url(/assets/psychic_eye.svg);
  background-size: 8%;
  background-repeat: no-repeat;
  background-position: 98% 98%;
  overflow: hidden;
  border-radius: 0px;
}

li.entry-card img {
  width: 100%;
  height: 20vw;
  object-fit: cover;
  opacity: 0.99999;
  transition: all 0.3s;
  border-radius: 2px;
}
li.entry-card .entry-title {
  transition: all 0.3s;
}

/*li.entry-card .entry-main-link:hover .entry-title {
  color: #bc7865;
}*/

li.entry-card .entry-main-link:hover img {
  border-bottom-right-radius: 36%;
}

.entry-abstract {
  flex: 1;
}

.entry-categories {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 24px -8px 0;
}

.entry-categories a {
  color: #bc7865; /*#ff998e; #e8d5ab;*/
  display: block;
  padding: 0;
  margin: 0 16px;
  text-transform: lowercase;
  font-family: 'Walfork', 'HelveticaNeueLTPro-Roman', Arial, sans-serif;
}

@media screen and (max-width: 1080px) {
  li.entry-card {
    flex-basis: 50%;
    width: 50%;
  }
  li.entry-card img{
    width: 100%;
    height: 30vw;
    object-fit: cover;
  }
}

@media screen and (max-width: 800px) {
  li.entry-card {
    flex-basis: 100%;
    width: 100%;
  }
  li.entry-card img{
    width: 100%;
    height: 50vw;
    object-fit: cover;
  }
}

