

.journal-detail h1 {
  font-size: 4rem;
  font-size: clamp(2rem, 5.5vw, 5rem);
  color: #bc7865;
  width: 75%;
  max-width: 1000px;
  border: none;
  white-space: normal;
  mix-blend-mode: difference;
  min-height: 75vh;
  display: flex;
  align-items: center;
  margin: 0;
}

.journal-detail h1 > span {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.journal-detail h1 > span > span {
  white-space: nowrap;
}

.journal-detail h1.has-background {
  mix-blend-mode: hard-light;
  color: #58747b;
}

.journal-detail h1.has-background > span > span {
  background-color: rgba(255,255,255,0.9);
  padding: 0 0 0 2rem;
}

.journal-detail h1.has-small-text {
  font-size: clamp(2rem, 5.5vw, 3.5rem);
}

.journal-detail h1.has-large-text {
  font-size: clamp(2.5rem, 5.5vw, 7rem);
}

.journal-detail-content {
  position: relative;
  z-index: 1;
  /*padding: 0 2rem;*/
  margin: 0 -2rem -2rem -2rem;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  margin: -2rem;
}

.journal-detail-content h1 { 
  opacity: 0;
  padding: 0 1rem;
  overflow: hidden;
}

.journal-detail-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: calc(75vh + 6rem);
  z-index: 0;
  overflow: hidden;
}

.journal-detail-header.flipped {
  z-index: 2;
  height: 96px;
}

.journal-detail-header-img {
 /* -webkit-filter: blur(1px);
  filter: blur(1px);*/
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(75vh + 6rem);
  width: calc(100% + 2rem);
  margin: -1rem;
}

.journal-detail-header .headline-container {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: calc(112px - 2rem);
  padding: 0 1rem;
}

.journal-detail-content {
  /*flex: 1;*/
}

.journal-entry {
  background-color: #fff;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.journal-entry ul li p {
  font-size: 0.9rem;
  font-size: clamp(0.9rem, 4vw, 1.1rem);
  letter-spacing: 0.01rem;
}

.journal-entry > * {
  width: 75%;
  max-width: 1000px;
}

.journal-entry img {
  border-radius: 2px;
}

.journal-upper-title {
  display: none;
}

.journal-entry > img {
  width: 50%;
  margin: 1.5rem 2rem 1rem 0px;
  float: left;
}

.journal-detail-content h2 img {
  width: 200px;
  margin: 8px 32px 0px 8px;
}

.journal-detail-content > div {
  /*width: 75%;*/
  /*border-radius: 2px;*/
  /*max-width: 1000px;*/
  width: 100%;
}

.journal-entry .entry-date-author {
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.journal-entry > ul > li img {
  width: 100%;
}

.journal-entry .image-and-caption {
  margin: 1rem 0;
}

.journal-entry .image-and-caption .caption {
  font-size: 0.8rem;
  padding: 0.5rem 0;
  text-align: justify;
  letter-spacing: 0.3rem;
}

.journal-entry .embed-bandcamp-container {
  border: 1px solid lightgrey;
  position: relative;
  /*display: flex;
  justify-content: center;*/
}

.journal-entry .embed-bandcamp {
  width: 100%;
  max-width: 700px;
  padding: 0.5rem 0;
  padding: 0;
  border-radius: 2px;
  position: relative;
  z-index: 1;
}

.journal-entry .embed-bandcamp-helper {
  max-width: 700px;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;

}

.journal-entry .embed-bandcamp iframe {
  max-width: 700px;
  position: relative;
}

.journal-entry .embed-bandcamp:after,
.journal-entry .embed-bandcamp-helper:after {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border: 1px solid #fff;
  pointer-events: none;
}

.journal-entry .embed-bandcamp:after {
  border-right: 82px solid #fff;
}

.embed-bandcamp-center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.journal-entry .embed-bandcamp-center iframe {
  max-width: 700px;
  position: relative;
}

.journal-entry iframe.embed-youtube {
  width: 100%;
  height: 100vw;
  max-height: 562.5px; /* 16:9 with 1000px */
}

.journal-entry .release-block {
  margin: 1rem 0;
}

.journal-entry .release-block a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
  background-color: #f5f5f5;
  border: 2px solid transparent;
  transition: all 0.3s;
}

.journal-entry .release-block a:hover {
  border: 2px solid #333;
  border-radius: 2px;
  background-color: #fff;
}

.journal-entry .release-block img {
  width: 100px;
  height: 100px;
  margin: 0.5rem;
  transition: all 0.3s;
}

.journal-entry .release-block a:hover img {
  transform: scale(0.95, 0.95);
}

.journal-entry .release-block a > div {
  font-family: Basel-Grotesk-Bold;
  text-align: justify;
  text-align-last: justify;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  padding: 0 1rem;
}

.journal-entry .release-block a > div.buy {
  white-space: nowrap;
}

.journal-entry .release-block .title-release > div:nth-of-type(1) {
  font-size: 1.5rem;
}

.journal-entry .release-block .title-release > div:nth-of-type(2) {
  font-size: 0.8rem;
}

.journal-entry .release-block .title-release:first-child {
  display: none;
}

.journal-entry .release-block .buy {
  border: 2px solid #333;
  border-radius: 2px;
  padding: 0.8rem 0.8rem 0.8rem 1.2rem;
  margin: 1rem;
  transition: all 0.3s;
}

.journal-entry .release-block a:hover .buy {
  transform: scale(0.95, 0.95);
}



/* next prev */
.journal-detail-prev-next {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 1rem;
  clear: both;
}

.journal-detail-prev-next h4 {
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 0;
  line-height: 1.4rem;
  max-height: 5.6rem;
  overflow: hidden;
}

.journal-detail-prev-next > div {
  background-color: #333;
  width: 43%;
  display: flex;
  border-radius: 2px;
}

.journal-detail-prev-next > div > div {
  background-color: #e8e8e8;
  padding: 1rem;
  /*border-radius: 2px;*/
  transition: all 0.3s;
  width: 100%;
}

.journal-detail-prev-next > div > div a {
  display: flex;
  justify-content: space-between;
}

.journal-detail-prev {
  background-image: url(/assets/psychic_eye_white.svg);
  background-size: 6%;
  background-repeat: no-repeat;
  background-position: 98% 96%;
  overflow: hidden;
}

.journal-detail-prev p {
  text-align: right;
  margin-top: 0;
}

.journal-detail-prev h4 {
  text-align: right;
  margin-left: 1rem;
}

.journal-detail-next {
  background-image: url(/assets/psychic_eye_white.svg);
  background-size: 6%;
  background-repeat: no-repeat;
  background-position: 2% 96%;
  overflow: hidden;
}

.journal-detail-next p {
  text-align: left;
  margin-top: 0;
}

.journal-detail-next h4 {
  text-align: right;
  margin-right: 1rem;
}

.journal-detail-prev:hover > div {
  border-bottom-right-radius: 30%;
}

.journal-detail-next:hover > div {
  border-bottom-left-radius: 30%;
}

.journal-detail-prev-next > div > div a img {
  width: 10vw;
  height: 10vw;
  object-fit: cover;
}

.journal-detail-prev-next > div > div div {
  /*width: 38%;*/
}

@media screen and (max-width: 1080px) {
  .journal-detail h1 { 
    width: 100%;
  }
  .journal-detail-header .headline-container {
    padding: 0 2rem;
  }
  
  /*.journal-detail-content > div {
    width: 100%;
    border-radius: 2px;
  }*/
  .journal-entry > * {
    width: 100%;
  }
  .journal-detail-prev-next > div > div a img {
    width: 15vw;
    height: 15vw;
    object-fit: cover;
  }
}

@media screen and (max-width: 800px) { 
  .journal-detail h1 { 
    font-size: 2.5rem;
    font-size: clamp(2rem, 5.5vw, 7rem);
  }
  .journal-detail-header .headline-container {
    padding: 0 1rem;
  }
  .journal-detail h1.has-background > span > span {
    padding: 0 0 0 1rem;
  }
  .journal-detail-content {
    padding: 0;
    margin: 0;
    margin-top: -2rem;
  }
  .journal-detail-header .headline-container {
    padding: 0 1rem;
  }
  .journal-upper-title {
    display: block;
  }
  .journal-entry {
    padding: 1rem;

   }
  .journal-entry > img {
    width: 100%;
    margin: 0; /*1.5rem 2rem 1rem 0px;*/
    float: unset;
  }
  .journal-lower-title {
    display: none;
  }
  .journal-entry .embed-bandcamp-container {
    border: none;
  }
  .journal-entry .embed-bandcamp:after {
    display: none;
  }
  .journal-entry .release-block a {
    flex-direction: column;
    justify-content: center;




    /*display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    background-color: #f5f5f5;
    border: 2px solid transparent;
    transition: all 0.3s;*/
  }
  .journal-entry .release-block img {
    width: 165px;
    height: 165px;
  }
  .journal-entry .release-block a > div {
    padding: 1rem;
    white-space: unset;
  }
  .journal-entry .release-block .title-release:first-child {
    display: block;
  }
  .journal-entry .release-block .title-release:nth-child(3) {
    display: none;
  }
  .journal-detail-prev-next {
    display: block;
  }
  .journal-detail-prev-next > div {
    width: 100%;
    margin-bottom: 1rem;
  }
  .journal-detail-prev-next > div > div a img {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
  }
  .journal-detail-prev {
    background-size: 5%;
    background-position: 98% 94%;

  }

  .journal-detail-next {
    background-size: 5%;
    background-position: 2% 94%;
  }

  .journal-detail-prev:hover > div {
    border-bottom-right-radius: 45%;
  }

  .journal-detail-next:hover > div {
    border-bottom-left-radius: 45%;
  }
}

@media screen and (max-width: 500px) {
  .journal-detail-prev-next > div > div a img {
    width: 30vw;
    height: 30vw;
    object-fit: cover;
  }
}
