.category-widget-container {
  background: #e8e8e8;
  border-radius: 2px;
  padding: 1rem 0;
}

.category-widget-title {
  margin: 0;
  padding: 0 1rem;
}

.category-widget-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 0 0;
  margin: 0;
}

.category-widget-links a {
  margin: 0 1rem;
}