.category-list {
	display: flex;
	flex-wrap: wrap;
}

.category-list-entry {
	width: 25%;
	flex-basis: 25%;
	padding: 1rem;
}

.category-list-entry > div {
	border-radius: 2px;
	overflow: hidden;
	height: 100%;
	background-color: #e8e8e8;
}

.category-list-entry a {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

/*.category-list-entry.journalpage > div {
	background-color: #e8e8e8;
}

.category-list-entry.releasepage > div {
	background-color: #f9e3dd;
}

.category-list-entry.artistpage > div {
	background-color: #e6eff3;
}*/

.category-list-entry .category-list-img-wrap {
	width: 100%;
	background-image: url(/assets/psychic_eye.svg);
	background-size: 8%;
	background-repeat: no-repeat;
	background-position: 98% 98%;
}

.category-list-entry img {
	width: 100%;
	min-height: 20vw;
    object-fit: cover;
	transition: all 0.3s;
	opacity: 0.99999;
}

.category-list-entry h4 {
	padding: 0 1rem;
	flex: 1;
}

.category-list-entry p {
	padding: 1rem;
}


.category-list-entry a:hover img {
	border-bottom-right-radius: 36%;
}

.category-list-entry div a p .split-letters {
	display: flex;
	justify-content: space-between;
	color: #b5b5b5;
}

.category-list-entry div a:hover p .split-letters {
	color: #bc7865;
}

@media screen and (max-width: 1080px) {
	.category-list-entry {
		width: 50%;
		flex-basis: 50%;
	}
}

@media screen and (max-width: 800px) {
	.category-list-entry {
		width: 100%;
		flex-basis: 100%;
	}

}