.about-contact-container {
	position: fixed;
	top: 0;
    left: 0;
    right: 0;
    background-color: #e8e8e8;
	width: 100vw;
	height: 100vh;
	z-index: 220;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s, visibility 0.3s;
}

.about-contact-container.show {
	opacity: 1;
	visibility: visible;
}

.about-contact {
	max-width: 600px;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.about-contact h2 {
	text-align: center;
	padding-left: 1rem;
}

.about-contact p {
	font-size: 1rem;
}
.toggle-about-contact {
	position: relative;
}

.about, .contact {
	padding: 1rem;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
}

.about.show, .contact.show {
	opacity: 1;
	visibility: visible;
}

.about > div, .contact > div {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 60vh;
}

.about-contact-close {
	font-size: 3rem;
	padding: 1rem 2rem;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	right: 0;
	cursor: pointer;
}

.contact {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 50vh;
}

.email-links p {
	text-align: center;
	position: relative;
}

.email-links p .email-link {
	margin: 0.5rem;
	display: inline-block;
	color: #bc7865;
	cursor: pointer;
}

.email-links p .email-link input {
	display: none;
}

.email-links p .copied-text {
	position: absolute;
	top: 2px;
	left: 0;
	width: 100%;
	visibility: hidden;
	opacity: 0;
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
	line-height: 0.5rem;
    text-transform: uppercase;
  	transition: all 0.5s;
}

.email-links p .copied-text span {
	margin: 1rem;
}

.email-links p .email-link.copied ~ .copied-text {
	visibility: visible;
	opacity: 1;
}

.email-message p {
	text-align: center;
	font-size: 0.8rem;
}

@media screen and (max-width: 800px) {
	.about-contact p {
		font-size: 0.8rem;
	}
	.about-contact-close {
		font-size: 2rem;
		padding: 0.8rem;
	}
	.email-links p .copied-text {
		top: 0;
	}
}
@media screen and (max-width: 526px) {
	
}