footer {
  background-color: #e8e8e8; /*#f8f8f8;#e6ebee; */
  /*min-height: 12rem;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem 3rem;
  position: relative;
}
footer > div {
	/*flex-basis: 33.3333%;*/
  /*width: 33.3333%;*/
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.socials {
	opacity: 1;
	transition: opacity 0.3s;
}
/*.socials:hover {
	opacity: 0.8;
}*/
.socials a, .socials a:link {
	font-size: 1.5rem;
	padding: 1rem;
	color: #333;
	transition: opacity 0.3s;
	opacity: 0.8;
}

.socials a:hover {
	opacity: 1;
}
/*.socials a:hover {
	opacity: 1 !important;
}*/
.links {
	flex: 1;
	flex-direction: column;
	min-width: 48.4%;
}

.links a {
	margin: 0 0.5rem;
	cursor: pointer;
}

.links p {
	font-size: 0.8rem;
}

.links img {
	width: 3rem;
	height: 1.8rem;
}

footer.show .links > div:not(.show) {
	z-index: 221;
}

.newsletter .form {
	width: 100%;
}
.newsletter  > div > * {
	width: 100%;
}
.newsletter .form input {
	padding: 0.5rem;
	border: none;
	outline: none;
}
.newsletter .form label {
	/*padding-left: 0.5rem;*/
	display: flex;
	justify-content: space-between;
	margin-right: -1rem;

}
.newsletter .form label span {
	font-family: Maria;
	height: unset;
    width: unset;
    border: none;
    display: inline;
    border-radius: 0px;
    margin-right: 0px;
    letter-spacing: 1rem;
    margin-right: -1rem;
}
.newsletter .form input:focus {
	outline: none;
}
.newsletter .form input[type=email] {
	border-radius: 0px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	margin: 0.1rem 0 -2px;
	border: 2px solid #333;
	background-color: #f8f8f8;;
}
.newsletter .form button {
	width: 100%;
}
.newsletter .form button:hover {
	width: calc(100% - 1.5rem);
}
.sign-up-status {
	max-width: 300px;
    white-space: nowrap;
    overflow: auto;
    margin: 0;
}

@media screen and (max-width: 1080px){
	.socials {
		flex: 1;
	}
}
@media screen and (max-width: 800px) {
	
}
@media screen and (max-width: 526px) {
	
}