.tour-container {
    position: relative;
}
.tour-container h1 {
	display: flex;
}

.tour-container h1 input{
    font-family: inherit;
}

.tour-container h1 > div {
	flex: 1;
    position: relative;
    z-index: 2;
}

.tour-container h1 * {
    cursor: pointer;
}

.tour-container h1 input {
	font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    color: #333;
    font-size: 1em;
    width: 100%;
    border: none;
    outline: none;
}

@media screen and (max-width: 620px) { 
    .tour-container h1 {
        display: block;
    }

    .tour-container h1 > div {
        display: block !important;
    }
    .tour-container h1 input {
        text-align: center;
        font-size: 0.8rem;
    }
    .tour-container h1 input ~ div {
        width: calc(100% - 2rem);
        padding: 0.5rem;
    }
    .tour-container h1 input ~ div * {
        font-size: 0.8rem;
    }
    .tour-container h1 input ~ div > div > * {
        padding: 0.5rem;
    }
}

.tour-results  {
    position: relative;
    /*min-height: calc(100vw - 136px);*/
}

.tour-results .artist-picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    opacity: 0.4;
    -webkit-filter: blur(15px);
    filter: blur(15px);
    overflow: hidden;
}

.tour-results .artist-picture .psychic-eye-image {
    background-image: url(/assets/psychic_eye.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50vw;
    margin-top: 10vh;
}

.tour-results .artist-picture img {
    margin-top: 10vh;
}

.tour-results .artist-picture img,
.tour-results .artist-picture .psychic-eye-image {
    height: 50vh;
}

.tour-results iframe {
	min-height: 60vh;
	width: 100%;
    position: relative;
    z-index: 1;
}
@media screen and (max-width: 1080px){ 
   .tour-results .artist-picture .psychic-eye-image {
        background-image: url(/assets/psychic_eye.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 80vw;
    } 
}