.video-image-container {
  position: relative;
  padding-bottom: 59.26%; /* 16x9 aspect-ration*/
  cursor: pointer;
}

.video-image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  z-index: 2;
  object-fit: cover;
  transition: all 0.3s;
}

.video-image-container svg {
  position: absolute;
  bottom: 2%;
  right: 2%;
  font-size: 1.5rem;
  z-index: 1;
}

.video-image-container:hover img {
  border-bottom-right-radius: 40%
}

.video-iframe-container {
  position: relative;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  transition: all 0.3s;
  padding: 8rem;
  background-color: rgba(0,0,0,0.85);
  z-index: 1000;
}

.video-iframe-container.show-video {
  visibility: visible;
  opacity: 1;
}

.video-iframe-container iframe {
  width: 100%;
  height: 100%;

}

.video-iframe-container .close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 800px) { 
  .video-iframe-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 1080px) {
  .video-iframe-container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}