/* cart nav */

.cart-nav {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  position: relative;
  height: 100%;
}

.cart-nav:hover {
  width: 100%;
}

.cart-link {
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.cart-link a {
  height: 100%;
  display: inline-flex;
  justify-content: center;
  padding-top: 1.16rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.8em;
  color: #333;
  margin: 0 0 0 0.2rem;
  background-color: #f8f8f8;
  border-radius: 10px;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transition: all 0.3s;
  position: relative;
  white-space: nowrap;
  width: 62px;
  height: 62px;
  border: 2px solid #333;
  border-radius: 50%;
}

.cart-link a > span > span  {
    padding: 0 0 0 0.20rem;
    font-size: 0.8rem;
}

.cart-link a span span span {
    min-width: 1.5rem;
    font-size: 0.8rem;
}

.cart-link a span span span.with-items {
  color: #bc7865;
}

/* ignore hover on touch screens */
@media (hover: hover) and (pointer: fine) {
  .cart-link a:hover {
    /*background-color: #e6ebee;*/
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .cart-link a.selected:hover {
    border-radius: 50%;
    z-index: 200;
  }


  .cart-nav:hover .cart-dropdown {
    visibility: visible;
    opacity: 1;
    transform: translate(0px, 0rem);
  }

  .cart-dropdown:hover {
    visibility: visible;
    opacity: 1;
    transform: translate(0px, 0rem);
  }

  .cart-dropdown:hover + .cart-link {
    /*height: calc(100% + 1rem);*/
  }

  .cart-dropdown:hover + .cart-link a {
    height: calc(100% + 0.4rem);
    padding-bottom: 0.4rem;
    /*background-color: #e6ebee;*/
    border: 2px solid transparent;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .cart-dropdown:hover + .cart-link a.selected {
    border-radius: 50%;
    z-index: 200;
  }
}

.cart-footer {
  width: 100%;
}

.cart-dropdown {
  visibility: hidden;
  opacity: 0;
  border-radius: 2px;
  width: 50vw;
  position: absolute;
  z-index: 199;
  top: 0;
  right: 0;
  padding-top: calc(96px - 1.6rem);
  transform: translate(0px, -0.4rem);
  transition: all 0.3s;
  max-height: calc(100vh - 120px);
}

.cart-dropdown.open {
  visibility: visible;
  opacity: 1;
  transform: translate(0px, 0rem);
}

.cart-dropdown.open + .cart-link a {
  height: calc(100% + 0.4rem);
  padding-bottom: 0.4rem;
  border: 2px solid transparent;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

@media (hover: none) {
  .cart-dropdown.open {
    pointer-events: none;
  }
}

.cart-nodrop {
  display: none;
}

.cart-dropdown .cart-list-container ul.cart-list li {
  padding: 0.5rem 1rem;
}

.cart-dropdown .button-container.secondary {
  width: 100%;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

@media (hover: none) {
  .cart-dropdown .button-container.secondary {
    display: none;
  }
}

.cart-dropdown .button-container.secondary .button {
  border-radius: 0px;
}

.cart-page {
  padding: 2rem 4rem;
  margin: 2rem 4rem;
  background-color: #f8f8f8; /*#e6ebee;*/
  border-radius: 2px;
}

.cart-list-container {
  background-color: #f8f8f8;
}

.cart-nav .cart-list-container {
  border-top-left-radius: 2px;
}

.cart-nav .cart-item-list-container {
  overflow-y: auto;
  max-height: calc(100vh - 300px);
}

ul.cart-list  {
  font-family: 'Walfork', 'HelveticaNeueLTPro-Roman', Arial, sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  white-space: nowrap;
}

ul.cart-list li {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}
ul.cart-list:nth-child(1) {
  padding-top: 0.25rem;
}
ul.cart-list:nth-child(1) li {
  border-bottom: 1px solid #e5e5e5;
}
ul.cart-list:nth-child(3) {
  padding-bottom: 0.25rem;
  border-top: 1px solid #e5e5e5;
}
ul.cart-list:nth-child(3) li {
  /*border-top: 1px solid #e5e5e5;*/
}

ul.cart-list p {
  padding: 0;
  margin:0;
}

ul.cart-list li > div {
  width: 17%;
  display: flex;
  align-items: center;

}
.alt-q-label {
  display: none !important;
  width: unset !important; 
  overflow: unset !important;
}
.cart-quantity-label {

}

ul.cart-list li > div:nth-child(1) {
  justify-content: flex-start;
  flex: 1;
  flex-wrap: wrap;
}
ul.cart-list li > div:nth-child(2) {
  justify-content: flex-start;
  margin: 0 1rem;
}
ul.cart-list li > div:nth-child(3) {
  justify-content: flex-end;
}

ul.cart-list li > div:nth-child(1) img {
  width: 50px;
  height: 50px;
  margin-right: 8px;
  border-radius: 2px;
}

ul.cart-list li > div:nth-child(1) span {
  display: inline-block;
  width: calc(100% - 58px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
ul.cart-list .add-remove-container.large { 
  display: flex;
}
ul.cart-list .add-remove-container.small { 
  display: none;
}
ul.cart-list .add-remove-container.small {
  margin: 0.5rem 0;
}

ul.cart-list .add-remove {
  border: 1px solid #e5e5e5;
  margin-left: 8px;
  user-select: none;
  height: 1.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

ul.cart-list .add-remove span {
  padding: 4px 8px;
  width: 24px !important;
  text-overflow: unset !important;
}

ul.cart-list .add-remove span:nth-child(1) {
}

.cart-item-list-container ul.cart-list li:last-child {
  border-bottom: none;
}

.empty-cart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-nav ul.cart-list span > li {
  /*border: 2px solid green;*/
}

.cart-checkout-bar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

@media screen and (max-width: 1080px){
  .cart-page {
    padding: 1rem 2rem;
    margin: 1rem 2rem;
  }
  .cart-dropdown {
    width: 75vw;
  }
}
.cart-dropdown .button-container.secondary .cart-proceed {

}
@media screen and (max-width: 800px) {
  .cart-page {
    padding: 1rem 1rem;
    margin: 1rem 1rem;
  }
  .alt-q-label {
    display: inline !important;
  }
  .cart-quantity-label {
    display: none !important;
  }
  ul.cart-list li > div {
      width: 17%;
      display: flex;
      align-items: unset;
  }
  ul.cart-list li > div:nth-child(1) img {
    width: 70px;
    height: 70px;
  }
  ul.cart-list li > div:nth-child(1) span {
    display: inline-block;
    width: calc(100% - 78px);
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: unset;
    padding-right: 1rem;
  }
  ul.cart-list li > div:nth-child(3) {
    flex-wrap: wrap;
  }
  ul.cart-list .add-remove-container.large {
    display: none;
  }
  ul.cart-list .add-remove-container.small {
    display: flex;
  }
  .cart-empty-div {
    display: none !important;
  }
  .cart-dropdown {
    width: calc(100vw - 2rem);
  }
}