@font-face {
  font-family: 'Basel-Grotesk-Bold';
  src: local('Basel-Grotesk-Bold'), url(./fonts/Basel-Grotesk-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Maria';
  src: local('Maria'), url(./fonts/Maria.otf) format('opentype');
}

@font-face {
  font-family: 'HelveticaNeueLTPro-Md';
  src: local('HelveticaNeueLTPro-Md'), url(./fonts/HelveticaNeueLTPro-Md.otf) format('opentype');
}

@font-face {
  font-family: 'HelveticaNeueLTPro-Roman';
  src: local('HelveticaNeueLTPro-Roman'), url(./fonts/HelveticaNeueLTPro-Roman.otf) format('opentype');
}

@font-face {
  font-family: "Walfork";
  src: local('Walfork-Regular'), url(./fonts/Walfork-Regular.woff) format('woff');
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  /*font-family: HelveticaNeueLTPro-Roman;*/
  font-family: Maria;

  /*font-family: 'Space Mono', monospace;*/
  /*font-family: 'Walfork', 'HelveticaNeueLTPro-Roman', Arial, sans-serif;*/
  font-size: 18px;
  /*line-height: 1.8;*/
  color: #333;
}

a, a:link {
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: Basel-Grotesk-Bold;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color: #333;
  font-weight: normal;
}

h1 {
  padding: 0;
  margin: 0 1rem;
  border-bottom: 1px solid #e5e5e5;
  white-space: nowrap;
  /*overflow: hidden;*/
}

.h1-subtext {
  font-size: 0.8rem;
  margin: 0 0 0 0.1rem;
}

.h4-full-width {
  margin: 0.5rem 0 0;
}

.h4-full-width > span,
.h4-full-width ~ p > span {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.h4-full-width > span > span,
.h4-full-width ~ p > span > span {
  /*flex-basis: 1rem;*/
  display: flex;
  justify-content: space-between;
  display: inline-block;
  padding: 0;
}

.h4-full-width ~ p {
  margin: 0;
  letter-spacing: 0.2rem;
}

p {
  font-family: 'Walfork', 'HelveticaNeueLTPro-Roman', Arial, sans-serif;
  font-weight: 100;
  color: #333;
  letter-spacing:0.05rem;
  font-size: 0.9rem;
  text-align: justify;
}

p a, p a:link {
  text-decoration: none;
  color: #bc7865; /*#fa8072;*/
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-radius: 2px;
}

a p, a:link p {
  color: #333;
}

p a:hover, p a:active  { /**/
  text-decoration: none;
  color: #9e6363; /*#f55e4d;*/
  border-bottom: 2px solid #fff;
}

a:hover p, a:active p {
  color: #333;
}

input {
  font-family: 'Walfork', 'HelveticaNeueLTPro-Roman', Arial, sans-serif;
  letter-spacing: 0.05rem;
}

.button-container {
  position: relative;
  background-color: #333;
  display: inline-block;
  cursor: pointer;
  border-radius: 2px;
}

.button-container button:after, 
.button-container .button:after, 
.button-container select:after {
  content: '';
  width: 1.6rem;
  height: 100%;
  position: absolute;
  right: 0rem;
  opacity: 0;
  transition: all 0.3s;
  background-image: url(/assets/psychic_eye_white.svg);
  background-position: center center;
  background-size: 1rem 0.5rem;
  background-repeat: no-repeat;
  z-index: 0;
}

.button-container button, 
.button-container .button, 
.button-container select {
  font-family: Maria;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 2px solid #333;
  border-radius: 2px;
  background-color: #fafafa;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  transition: all 0.3s;
  cursor: pointer;
  white-space: nowrap;
  z-index: 1;
}

.button-container.secondary .button {
  border: 2px solid #eed8d2;/*#e6ebee;*/
  background-color: #eed8d2;/*#e6ebee;*/
  border-radius: 0px;
}

.button-container button:hover, 
.button-container .button:hover,
.button-container.secondary .button:hover {
  border-bottom-right-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  margin-right: 1.5rem;
}

.button-container button:hover:after, 
.button-container .button:hover:after {
  opacity: 1;
}

.button-container button:disabled:hover, 
.button-container .button:disabled:hover {
  border-radius: 0px;
  margin-right: 0;

}
.button-container button:disabled {
  /*opacity: 0.5;*/
  cursor: not-allowed;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel .thumb.selected, .carousel .thumb:hover {
    border: 2px solid #333;
    border-radius: 2px;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-background-blur {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.sixteenxnine-ratio {
  position: relative;
}

.sixteenxnine-ratio img {
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 56.25%;
  height: 100%;
}

/* header */
header {
  height: 96px;
  width: 100%;
  display: flex;
  padding: 1rem 3rem;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  /*background-color: rgba(255,255,255,0.8);*/
}

.nav-container {
  display: flex;
}

.logo {
  height: 4rem;
  width: 6rem;
  position: relative;
  z-index: 1;
}

.logo a {
  margin-right: 0.2rem;
  position: relative;
  z-index: 2;
  cursor: pointer;
  transition: all 0.4s;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 2px solid #333;
  background: #f8f8f8;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.logo a:after {
  content: '';
  background-color: #333;
  border-radius: 50%;
  width: 0.8rem;
  height: 0.8rem;
  position:absolute;
  top: 1.46rem;
  left: 2.46rem;
  transition: opacity 0.3s;
  opacity: 0;
}

.logo a:hover:after {
  opacity: 1;
}

.logo a.selected:after {
  opacity: 1;
}

.logo a img {
  height: calc(100% - 1rem);
  margin: 0 1rem;
}

.nav-menu {
  display: none;
  font-size: 1.5rem;
  flex: 1;
  cursor: pointer;
  position: relative;
  z-index: 200;
}

.nav-menu > div {
  position: relative;
  z-index: 1;
}

.nav-menu > div {
  position: relative;
  z-index: 1;
  margin-top: 0.5rem;
}

.nav-menu:after {
  content: '';
  width: 0; 
  height: 0; 
  border-left: 56px solid transparent;
  border-right: 56px solid transparent;
  border-bottom: 56px solid #f8f8f8;
  position: absolute;
  top: 5px;
}
.nav-menu:before {
  content: '';
  width: 0; 
  height: 0; 
  border-left: 61px solid transparent;
  border-right: 61px solid transparent;
  border-bottom: 61px solid #333;
  position: absolute;
}

.center-eye {
  display: none;
  /*margin-left: 2rem;*/
  margin: 2rem 0 0.5rem;
}

.center-eye a, .center-eye a.selected, .center-eye a:hover {
  padding: 0;
  height: 1rem;
  background-color: transparent;
}

.center-eye img {
  width: 2rem;
  height: 1rem;
}

/* navigation bar */
nav {
  display: flex;
  border: 2px #333;
  background: #333;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

nav a {
  /*font-family: Maria;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1.2rem;
  margin: 0 0.2rem;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-size: 0.8em;
  transition: all 0.4s;
  position: relative;
  z-index: 200;
  white-space: nowrap;
  position: relative;
  background: none;
}

nav a .nav-main-title { 
  white-space: nowrap;
  position: relative;
  z-index: 2;
  color: #f8f8f8;
  opacity: 1;
}

nav a:hover .nav-main-title { 
  opacity: 1;
}

nav a .nav-main-title:after { 
  content: '';
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 4px;
  left: 0;
  z-index: 3;
  transition: opacity 0.3s;
}

nav a:nth-of-type(1) .nav-main-title:after {
  left: 2.1rem;
  opacity: 0;
}

nav a:nth-of-type(2) .nav-main-title:after {
  left: 0.95rem;
  opacity: 0;
}

nav a:nth-of-type(3) .nav-main-title:after {
  left: 0.92rem;
  opacity: 0;
}

nav a:hover .nav-main-title:after,
nav a.selected .nav-main-title:after {
  opacity: 1;
}

/*nav a:hover { 

  background-color: #f8f8f8;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}*/



/*nav a .nav-eye { 
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/assets/psychic_eye_white.svg);
  background-size: 3.2rem 3.2rem;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

nav a.selected .nav-eye {
  opacity: 0.2;
}

nav a:hover .nav-eye {
  opacity: 0.4;
}*/

.menu-close {
  display: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

nav > div { /* .center_eye and ..menu_close */
  opacity: 0.5;
  transition: opacity 0.5s;
}

nav > div:hover {
  opacity: 1;
}

.cart-container {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  height: 100%;
}

@media screen and (max-width: 666px) {
  .nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .center-eye {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    z-index: 220;
    background-color: rgba(255,255,255,0.9);
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
  }
  .nav-container.visible {
    opacity: 1;
    visibility: visible;
  }
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
  }
  nav a {
    height: 4rem;
    margin: 0.5rem 0;
  }
  .menu-close {
    display: block;
  }
  .cart-container { 
    flex: 0;
  }
}

.pad {
  padding: 1rem;
}

main {
  display: block;
  padding: 112px 2rem 2rem;
  flex: 1;
  opacity: 1;
  transition: opacity 0.7s;
  min-height: calc(100vh - 150px);
}

main.loading {
  transition: opacity 0s;
  opacity: 0;
}

/* see below media queries for loader */
main ~ .loader {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s;
}

main.loading ~ .loader {
  opacity: 1;
  visibility: visible;
}

@-webkit-keyframes ball-scale-multiple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0; }
  5% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

@keyframes ball-scale-multiple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0; }
  5% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center
}
.ball-scale-multiple {
  position: relative;
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px); 
}
.ball-scale-multiple > div:nth-child(2) {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s; 
}
.ball-scale-multiple > div:nth-child(3) {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s; 
}
.ball-scale-multiple > div {
  background-color: #868686;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  left: -30px;
  top: 0px;
  opacity: 0;
  margin: 0;
  width: 60px;
  height: 60px;
  -webkit-animation: ball-scale-multiple 1s 0s linear infinite;
  animation: ball-scale-multiple 1s 0s linear infinite; 
}

@media screen and (max-width: 1080px){
  header {
    padding: 1rem 2rem;

  }
  main {
    padding: 112px 2rem 1rem;
  }
}

@media screen and (max-width: 800px) {
  header {
    padding: 1rem 1rem;
  }
  main {
    padding: 112px 0rem 1rem;
  }
  h1 {
    font-size: 1.26rem;
    text-align: center;
  }
  h2 {
    font-size: 1rem;
    text-align: center;
  }
  .h1-subtext {
    font-size: 0.5rem;
  }
}

/* bandcamp player */

iframe #player {
  max-width: 100%;
}
