h1.search-headline {
  display: flex;
  justify-content: space-between;
}

.headline-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  right: 0;
}

.headline-search input {
  padding: 0.5rem;
  font-size: 1rem;
  height: 100%;
  text-align: right;
  outline: none;
  border: none;
  width: 2rem;
  opacity: 0;
  transition: all 0.3s;
  cursor: pointer;
  background-color: rgba(255,255,255,0.9);
}

.headline-search input:focus {
  opacity: 1;
  width: 50vw;
  cursor: text;
}

.headline-search input.searching {
  opacity: 1;
  width: 50vw;
}

.headline-search svg {
  position: absolute;
  right: 0;
  pointer-events: none;
  opacity: 1;
  transition: all 0.3s;
}

.headline-search svg {
  opacity: 0.8;
}

.headline-search input:hover + svg {
  opacity: 1;

}

.headline-search input:focus + svg {
  opacity: 0;
}

.headline-search input.searching + svg {
  opacity: 0;
}
@media screen and (max-width: 800px) {
  h1.search-headline {
    position: relative;
    height: 2.1rem;
  }

  .search-headline-text {
    position: absolute;
  }

  .headline-search {
    position: absolute;
    right: 0;
  }
  .headline-search input:focus {
    width: calc(100vw - 2rem);
    cursor: text;
  }
  .headline-search input.searching {
    width: calc(100vw - 2rem);
  }
}