.home-container h3 {
	margin: 1rem 1rem 0;
	border-radius:2px;
	padding: 1rem 0 0;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 1rem;
	border-bottom: 1px solid #e8e8e8;
}

.home-container section {
	margin-bottom: 4rem;
}
.home-container .home-top {
	margin:-128px -2rem -1rem;
	width: calc(100% + 4rem);
	overflow: hidden;
	padding-bottom: 3rem;
}

.home-gallery {
	width: auto;
}

.home-gallery-image {
	position: relative;
	width: 100%;
	height: 98vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 3;
}

.home-gallery-image-content {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 5rem;
	left: 0;
	padding: 1rem 0rem 8.5rem;
	margin: 0;
	text-transform: uppercase;
	mix-blend-mode: difference;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	z-index: 2;
	transition: all 1s;
	transform: scale(1.1,1.1);
	transform-origin: bottom;
}
.home-gallery-image:first-child .home-gallery-image-content {
	transform: scale(1,1);
}

.home-gallery-image-content.has-background {
	/*mix-blend-mode: hard-light;*/
	mix-blend-mode: luminosity;
}

.home-gallery-image-content .title-container {
	width: 100%;
}

.home-gallery-image-content h2 {
	color: #bc7865;
	width: 100%;
	font-size: 4rem;
	margin: 0;
	padding: 0 1rem;
}
.home-gallery-image-content.has-background h2 {
	color: #58747b; /*#a2a2a2;*/
}

.home-gallery-image-content .title-container > h2 > span {
	width: 100%;
	white-space: nowrap;
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    user-select: none;
}

.home-gallery-image-content .title-container > h2 > span > span {
	display: inline-flex;
	padding: 0 0 0 2rem;
	justify-content: center;
}

.home-gallery-image-content.has-background .title-container > h2 > span > span {
	background: rgba(255,255,255,0.9);
}

.home-gallery-image-content h3 {
	color: #bc7865;
	width: 100%;
	font-size: 2.5rem;
	border: none;
	margin: 0 0 5rem;
	text-align: center;
	padding: 0 2rem;
}

.home-gallery-image-content h3 span {
    padding: 0 0 0 1rem;
}

.home-gallery-image-content.has-background h3 { 
	color: #a2a2a2;
}

.home-gallery-image-content.has-background h3 span { 
	background: rgba(255,255,255,0.9);
}

.home-gallery-image-content.cta {
	top: 0;
	flex-direction: row;
	justify-content: center;
	padding: 1rem 0rem 3.5rem;
}

.home-gallery-image-content.cta > div {
	display: flex;
	justify-content: center;
}

.home-gallery-release-title {
	padding: 0 1rem;
}

.home-gallery-link-text {
	padding: 0;
    text-align: center;
}

.home-gallery-link-text a {
	font-family: Basel-Grotesk-Bold;
	display: block;
	padding: 0.5rem 2rem 0.5rem 2.5rem;
	border: 2px solid #bc7865;
    border-radius: 2px;
	color: #bc7865;
	letter-spacing: 0.5rem;
	background-color: transparent;
    transition: all 0.5s;
}

.home-gallery-link-text a:hover {
	background-color: rgba(255,255,255,0.9);
}

.home-gallery-image-content.cta.has-background .home-gallery-link-text a {
	background-color: rgba(255,255,255,0.5);
	border: 2px solid #fff;
}

.home-gallery-image-content.cta.has-background .home-gallery-link-text a:hover {
	background-color: rgba(255,255,255,0.9);
	color: #58747b;
}

.home-gallery-button-wrap {
	position: absolute;
	bottom: 3rem;
	right: 0;
	width: 100%;
	z-index: 5;
	margin: 0;
	display: flex;
	justify-content: center;
	z-index: 5;
}

.home-gallery-button-wrap.active {
	position: absolute;
	bottom: unset;
	top: calc(98vh - 4rem);
	z-index: 10;
}

.home-gallery-button-wrap button {
	font-size: 4rem;
	color: #bc7865;
	cursor: pointer;
	margin: 0 2rem;
}

.home-gallery-button-wrap.active button {
	opacity: 0;
}

.home-gallery-image-content.has-background .home-gallery-button-wrap button {
	/*color: #f6c4b6;*/
	/*color: transparent;
	text-shadow: 0 0 1px #f6c4b6;*/
}

.home-gallery-button-wrap button svg {
	mix-blend-mode: difference;
}

@media screen and (max-width: 800px) {
	.home-container .home-top {
		margin: -128px 0rem 0rem;
		width: 100%;
	}

	.home-gallery-image {
		height: 96vh;
	}

	.home-gallery-image-content {
		padding: 1rem 1rem 6rem;
	}

	.home-gallery-image-content h2 {
		font-size: 2.5rem;
		padding: 0;
	}

	.home-gallery-image-content .title-container {
	    margin-right: 0 -1rem;
	}

	.home-gallery-image-content .title-container > h2 > span > span {
		padding: 0;
	}

	.home-gallery-image-content .title-container > h2 > span.split-words {
		display: block;
	}

	.home-gallery-image-content .title-container > h2 > span.split-words > span {
		display: block;
	}

	.home-gallery-image-content h3 {
		font-size: 1.5rem;
		padding: 0;
	}

	.home-gallery-image-content h3 span { 
		padding: 0;
	}

	.home-gallery-image-content.cta {
		padding: 1rem 1rem 2rem;
	}

	.home-gallery-link-text a {

	}

	.home-gallery-button-wrap {
		bottom: 4rem;
	}

	.home-gallery-button-wrap.active {
		bottom: unset;
		top: calc(96vh - 2.5rem);
	}

	.home-gallery-button-wrap button {
		font-size: 2rem;
	}
}

.home-product-image {
	padding: 1rem;
	width: 100%;
}

.home-product-image img {
	width: 100%;
}

.home-button-wrap {
	margin: 0 1rem;
	display: flex;
	justify-content: flex-start;
	border-top: 1px solid #f2f2f2;
	padding-top: 0.5rem;
}

.home-button-wrap button {
	font-size: 1.5rem;
	color: #333;
	cursor: pointer;
}

.home-arrow-prev {
	background: none;
	border: none;
	margin: 0 1rem 0 0;
}

.home-arrow-next {
	background: none;
	border: none;
	margin: 0 0 0 1rem;
}

@media screen and (max-width: 1080px) {
	.home-button-wrap {
		justify-content: center;
	}

	.home-arrow-prev {
		margin: 0 1rem;
	}

	.home-arrow-next {
		margin: 0 1rem;
	}
}

.home-journal-entry {
	margin: 1rem;
	border-radius: 2px;
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
	transition: all 0.3s;
	border: 2px solid transparent;
}

.home-journal-entry:hover {
	border: 2px solid #333;
}

.home-journal-entry > a {
	display: flex;
	transition: all 0.3s;
	width: 100%;
}

.home-journal-entry img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	transition: all 0.3s;
}

.home-journal-entry:hover img {
	transform: scale(0.9);
}

.home-journal-text {
	width: calc(100% - 100px);
}

.home-journal-entry .home-journal-text h4 {
	margin: 0.125rem 0 0rem 1rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.home-journal-entry p {
	margin: 0 0.5rem 0 1rem;
	line-height: 1.4rem;
    height: 4.2rem;
    overflow: hidden;
}