.product-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.product-list .product {
  flex-basis: 25%;
  width: 25%;
  padding: 1rem;
}

/* styles for artistRelease component */
.artist-release-container .product-list {
  margin: -1rem;
}

.artist-release-container .product-list .product {
  flex-basis: 50%;
  width: 50%;
}

.product a p {
  color: #333;
}

.product a:hover p {
 color: #000;
}

.product a .product-detail-img-wrap {
  position: relative;
  border-radius: 2px;
  background-image: url(/assets/psychic_eye.svg);
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: 98% 96%;
  overflow: hidden;
}

.product a .product-detail-img-wrap > div img {
  border-radius: 2px;
  position: relative;
  transition: all 0.3s;
  overflow: hidden;
}

.product a:hover .product-detail-img-wrap > div img {
  border-bottom-right-radius: 40%;
}

.product-list .product p {
  text-align: left;
}

.product-list .product img {
  width: 100%;
  border-radius: 2px;
}

@media screen and (max-width: 1080px) {
  .product-list .product {
    flex-basis: 50%;
    width: 50%;
  }
  /* styles for artist release page*/
  .artist-release-container .product-list .product {
    flex-basis: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .product-list .product {
    flex-basis: 100%;
    width: 100%;
  }
}
