.releases-filter-bar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  margin:  0 1rem 0;
  padding: 0.5rem 0;
}

.releases-fb-title > p {
  padding: 0.5rem 0;
  cursor: pointer;
}

.releases-fb-title > span {
  display: inline-block;
  background: #e6ebee;
  color: #333;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  border-radius: 10px;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
}
.releases-fb-title > span > span {
  cursor: pointer;
  opacity: 0.6;
}
.releases-fb-title > span > span:hover {
  opacity: 1;
}
.releases-fb-list {
  display: flex;
  justify-content: space-between;
}

.releases-fb-list span {
  cursor: pointer;
}

.releases-fb-title, .releases-fb-list label {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 1.5rem;
}

.releases-fb-title p {
  margin: 0;
  padding: 0;
}

.releases-fb-list label span {
  margin: 0.5rem 0.5rem 0.5rem 1rem;
}

.releases-fb-list span:hover {
  color: #333;
}

@media screen and (max-width: 800px) {
  .releases-filter-bar {
    display: block;

  }

  .releases-fb-list {
    display: block;
    width: 100%;
    height: 0px;
    min-height: 0px;
    transition: min-height 0.3s;
    overflow: hidden;
  }

  .releases-filter-bar.show .releases-fb-list {
    min-height: 8rem;
  }

  .releases-fb-list label span {
    margin: 0.5rem 0.5rem 0.5rem 0rem;
  }
}
