.release-detail {
  transition: all 0.3s;
  text-align: justify;
}

.detail-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.detail-container > div {
  width: 50%;
}

.detail-images {
  padding: 0rem 1rem;
}

.detail-description {
  padding: 0 1rem;
}

.detail-format-title {
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 0.8em;
  color: #333;
  padding: 1rem 0 0;
}

.detail-container h1 {
  margin: 0;
  padding-top: 0;
  border-bottom: none;
}

.detail-content-detail * {
  width: 100% !important;
}

.detail-radio-options {
  margin: 1rem 0;
}

/* Carousel */
.detail-images .carousel .thumbs-wrapper {
    margin: 8px -2px;
}

.detail-images .carousel .thumbs {
  white-space: unset;
  transform: translate3d(0px, 0px, 0px) !important;
}
.detail-images .carousel .thumb {
  padding: 0;
  cursor: pointer;
}

.detail-images .carousel .thumb.selected, .detail-images .carousel .thumb:hover {
    border: 2px solid #333;
    border-radius: 2px;
}

.detail-buy-options {
  padding: 1rem 0 2rem;
}

label {
  display: block;
  font-family: 'Walfork', 'HelveticaNeueLTPro-Roman', Arial, sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  cursor: pointer;
}
label span {
    height: 12px;
    width: 12px;
    border: 1px solid #333;
    display: inline-block;
    border-radius: 50%;
    margin-right: 12px;  
}
label input {
    display: none;
}

label input:checked ~ span, label input:hover ~ span {
    background-color: #333;
}

.lower-detail-container {
  display: flex;
  text-align: justify;
}

.lower-detail-container > div {
  padding: 1rem;
}

.lower-detail-container > div:nth-child(1) {
  flex: 1;
  width: 50%;
  min-width: 50%;
}

.lower-detail-container > div:nth-child(2) ol li {
  font-family: 'Walfork', 'HelveticaNeueLTPro-Roman', Arial, sans-serif;
  font-size: 1em;
  list-style: decimal-leading-zero;
}

.detail-left-headline {
  display: none;
}

.detail-right-headline {
  display: block;
}

.release-detail .category-widget-component {
  margin: 1rem;
}

@media screen and (max-width: 800px) { 
  .lower-detail-container {
    display: block;
  }

  .lower-detail-container > div:nth-child(1) {
    width: 100%;
  }
}

@media screen and (max-width: 1080px) {
  .detail-container {
    display: block;
  }
  .detail-container > div {
    width: 100%;
  }
  .detail-left-headline {
    display: block;
  }
  .detail-right-headline {
    display: none;
  }
  .detail-content-buy-options {
    display: flex;
    flex-direction: column-reverse;
  }
}