.artist-list-component {
  position: relative;
}

.visible-artist {
  position: fixed;
  top: 18vh;
  pointer-events: none;
  width: 100%;
  padding: 0 3rem;
  font-size: 12vw;
  color: #e8e8e8;
  margin: 0;
  text-shadow: 2px 2px #333;
}

@media screen and (min-width: 1000px) {
  .visible-artist {
    font-size: 8rem;
  }
}

ul.artist-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: -0.5rem -0.5rem 4rem;
}

li.artist-card {
  height: 30vh;
  flex-grow: 1;
  margin: 0.5rem;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
}

li.artist-card > div {
  height: 100%;
  height: 100%;
  background-image: url(/assets/psychic_eye.svg);
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: 99% 98%;
  border-radius: 2px;
}


li.artist-card > div > div {
  height: 100%;
  overflow: hidden;
  transition: all 0.3s;
}

li.artist-card .artist-img-container {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

li.artist-card h4 {
  margin: -1rem 0 0
}

li.artist-card:hover > div > div {
  border-bottom-right-radius: 30%;

}

li.artist-card a {
  /*display: block;*/

} 

li.artist-card .artist-img-container img { 
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}      

li.artist-card .artist-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem 0 0 2rem;
  z-index: 2;
  font-size: 3.2rem;
  color: rgba(249,248,244,1);
  /*color: #6fb4d6;*/
  letter-spacing: 1em;
  text-transform: uppercase;
  transition: all 0.3s;
  width: calc(100% - 2rem);
  word-wrap: break-word;
  mix-blend-mode: exclusion;
  text-shadow: 2px 2px #bc7865;
  opacity: 0;
  pointer-events: none;
}

li.artist-card:hover .artist-title {
  /*color: #333;*/
  /*mix-blend-mode: normal;*/
  /*opacity: 1;*/
  
}
