ul.artist-videos li {
  margin-bottom: 1rem;
  position: relative;
  display: grid;
}

ul.artist-videos li svg {
  grid-area: 1 / 1 / 2 / 2;
}

ul.artist-videos li > div {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
}

ul.artist-videos li iframe {
  width: 100%;
  border-radius: 2px;
}