.artist-container {
  display: flex;
  justify-content: space-between;
}

.artist-container h1, .artist-container h2 {
  border-bottom: 3px solid #eeeeee;
  margin: 0 8px 16px;
}

.artist-container h2 { 
  display: flex;
  justify-content: space-around;

}

.artist-container .side-1 {
  flex-basis: 66.667%;
}

.artist-container .side-2 {
  flex-basis: 33.333%;
}

.artist-primary-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.artist-primary-content > div {
  /*flex-basis: 50%;*/
  width: 50%;
}

.artist-bio {
/*  width: calc(100% - 200px);*/
}

.artist-gallery {
  padding: 0 8px;
}

.artist-gallery img {
  width: 100%;
  border-radius: 2px;
}

.artist-image-list li img {
  margin-bottom: 1rem;
}

.artist-carousel {
  display: none;
}
/* override artist carousel classes*/
.artist-carousel .carousel .thumbs {
  display: flex;
  justify-content: center
}
.artist-carousel .carousel .thumb {
  color: #a9a9a9;
  border: 3px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  padding: 0;
  cursor: pointer;
}
.artist-carousel .carousel .thumb:focus {
  border: 3px solid transparent;
}
.artist-carousel .carousel .thumb p {
  margin: 0;
  padding: 0;
}
.artist-carousel .carousel .thumb.selected, 
.artist-carousel .carousel .thumb:hover {
  color: #333;
  cursor: pointer;
}
.artist-carousel .carousel .thumbs-wrapper {
  margin: 12px;
}
.artist-carousel .carousel:not(.carousel-slider) {
  border-bottom: 1px solid lightgrey;
}

.artist-exlinks-bio {
  padding: 0 8px;
}

.artist-bio > div {
  /*text-align: justify;*/
}

.artist-bio > div p {
  margin-top: 0;
}

.artist-external-links {
  margin:  0 0 16px 0;
}

.artist-external-links ul {
  display: flex;
  flex-wrap: wrap;
  margin: -4px;
}

.artist-external-links ul li {
  position: relative;
  background-color: #333;
  margin: 4px;
}

.artist-external-links ul li a:after {
  content: '';
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  right: 6px;
  transform: rotate(15deg);
  opacity: 0;
  transition: all 0.3s;
  border-radius: 50%;
}

/*#e8e8e8*/

.artist-external-links ul li a {
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  border: 2px solid #333;
  border-radius: 2px;
  background-color: #f8f8f8;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.8em;
  transition: all 0.3s;
}

.artist-external-links ul li a:hover {
  background-color: #f8f8f8;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  /*border-right: 16px solid #333;*/
  margin-right: 16px;

}
.artist-external-links ul li a:hover:after {
  opacity: 1;
}

.artist-secondary-nav {
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #333;
  border-radius: 2px;
  background-color: #333;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.8em;
  transition: all 0.3s;
  margin: 1rem 1rem 0 1rem;
}

.artist-secondary-nav a {
  flex-basis: 33%;
  color: #333;
  display: block;
  text-align: center;
  padding: 4px 8px;
  border-right: 2px solid #333;
  transition: all 0.3s;
  background-color: #f8f8f8;
}

.artist-secondary-nav a:last-child {
  border-right: none;
}
.artist-secondary-nav a:hover {
  border-radius: 1rem;
}

.artist-secondary-content {

}

.artist-secondary-routes {}

@media screen and (max-width: 800px) {
  .artist-container {
    display: block;
  }

  .artist-container .side {
    display: block;
  }
}

@media screen and (max-width: 1080px){
  .artist-container .side-1 {
    flex-basis: 50%;
  }

  .artist-container .side-2 {
    flex-basis: 50%;
  }

  .artist-primary-content {
    display: block
  }
  .artist-primary-content > div {
    width: 100%;
  }
  .artist-exlinks-bio {
    padding: 16px 8px;
  }
  .artist-image-list {
    display: none;
  }
  .artist-carousel {
    display: block;
  }
}


