/* using these styles on related article */


/*.journal-detail-prev-next {
  display: flex;
  justify-content: space-between;
}

.journal-detail-prev-next h4 {
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.journal-detail-prev-next > div {
  background-color: #333;
  width: 40%;
  display: flex;
  border-radius: 2px;
}

.journal-detail-prev-next > div > div {
  background-color: #e8e8e8;
  padding: 1rem;
  border-radius: 2px;
  transition: all 0.3s;
}

.journal-detail-prev {
  background-image: url(/psychic_eye_white.svg);
  background-size: 6%;
  background-repeat: no-repeat;
  background-position: 2% 96%;
  overflow: hidden;
}

.journal-detail-next {
  background-image: url(/psychic_eye_white.svg);
  background-size: 6%;
  background-repeat: no-repeat;
  background-position: 98% 96%;
  overflow: hidden;
}

.journal-detail-prev:hover > div {
  border-bottom-left-radius: 30%;
}

.journal-detail-next:hover > div {
  border-bottom-right-radius: 30%;
}

.journal-detail-prev-next img {
  width: 100%;
  height: 14vw;;
  object-fit: cover;
}
*/

.related-component {
  background-color: #e8e8e8; /*#f8f8f8;*/
  position: relative;
  margin: 4rem -2rem 0;
}

.related-component h3 {
  padding: 2rem 3rem 0;
  /*font-size: 2rem;*/
  margin-bottom: 0;
}

.related-content-container {
  width: 100%;
  overflow-x: auto;
}

.related-content {
  
}

.related-content ul {
  display: flex;
  padding: 0 2rem;
}

.related-content ul li {
  padding: 0 1rem 1rem;
}

.related-content ul li a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.related-content ul li h4 {
  padding: 0;
  margin: 0;
  
  font-size: 0.6rem;
  height: 2.5rem;
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.5rem;
}

.related-content ul li p {
  padding: 0;
  margin: 0;
}

.related-content ul li p.page-type {
  text-align: right;
}

.related-content ul li img {
  /*object-fit: cover;*/
  height: 20vw;
}

.related-img-container {
  background-image: url(/assets/psychic_eye_white.svg);
  background-size: 6%;
  background-repeat: no-repeat;
  background-position: 98% 96%;
}

.related-img-container:hover > div {
  border-bottom-right-radius: 30%;
}


/*.img-wrap-container {
  border-radius: 2px;
}*/

/*.img-wrap-container:hover img {
  border-bottom-right-radius: 30%;
}*/

.img-wrap {
  display: grid;
}

/*.img-wrap:hover img{
  border-bottom-right-radius: 30%;
}*/

.img-wrap > * {
  grid-area: 1/1;
}

.img-wrap svg {
  
}














